@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import "_item";
//@import "_moreless";
*{
    margin:0;
    padding:0;
  }
.hidden {
    display: none;
}
.total {
    margin-bottom: 10px;
}
.search_container {
    display: flex;
    justify-content: left;
}
.search_img {
    width: 15px;
    height: 15px;
    display: block;
    margin-left: 5px;
}
.search_input {
    display: flex;
    justify-content: left;
    align-items: center;
    //border: 1px solid blue;
}
.preloader {
    margin-top: 50px;
    text-align: center;
    img {
        width: 200px;
        height: 150px;
    }
}
.langSelect {
    right: 20px;
}
.currencySelect {
    margin-left: 20px;
    right: 20px;
}